
// AmazingGrotesk
@font-face {
  font-family: 'AmazingGrotesk';
  src: url('/assets/fonts/AmazingGrotesk/Amazing_Grotesk_Demi.eot');
  src: local('☺'),
       url('/assets/fonts/AmazingGrotesk/Amazing_Grotesk_Demi.woff') format('woff'),
       url('/assets/fonts/AmazingGrotesk/Amazing_Grotesk_Demi.ttf') format('truetype'),
       url('/assets/fonts/AmazingGrotesk/Amazing_Grotesk_Demi.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}


// Circe
@font-face {
  font-family: 'Circe';
  src: url('/assets/fonts/Circe/Circe-Regular.eot');
  src: local('☺'),
       url('/assets/fonts/Circe/Circe-Regular.woff') format('woff'),
       url('/assets/fonts/Circe/Circe-Regular.ttf') format('truetype'),
       url('/assets/fonts/Circe/Circe-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('/assets/fonts/Circe/Circe-Bold.eot');
  src: local('☺'),
       url('/assets/fonts/Circe/Circe-Bold.woff') format('woff'),
       url('/assets/fonts/Circe/Circe-Bold.ttf') format('truetype'),
       url('/assets/fonts/Circe/Circe-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}


// Lobster
@font-face {
  font-family: 'Lobster';
  src: url('/assets/fonts/Lobster/Lobster.eot');
  src: local('☺'),
       url('/assets/fonts/Lobster/Lobster.woff') format('woff'),
       url('/assets/fonts/Lobster/Lobster.ttf') format('truetype'),
       url('/assets/fonts/Lobster/Lobster.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}


// PFCentroSlabPro
@font-face {
	font-family: 'PFCentroSlabPro';
	src: url('/assets/fonts/PFCentroSlabPro/PFCentroSlabPro-Bold.eot');
  src: local('☺'),
       url('/assets/fonts/PFCentroSlabPro/PFCentroSlabPro-Bold.woff') format('woff'),
       url('/assets/fonts/PFCentroSlabPro/PFCentroSlabPro-Bold.ttf') format('truetype'),
       url('/assets/fonts/PFCentroSlabPro/PFCentroSlabPro-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}