.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: vw(22);
  padding-bottom: 2px;
  padding-left: 27px;
  padding-right: 35.5px;

  &__logo {
    display: block;

    @extend %logo;
  }
}
